In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import warnings as warnings 
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt 
import streamlit as st

In [2]:
df=pd.read_excel("rawdata.xlsx")

In [3]:
df.isnull().sum()

date          0
time          0
sensor        1
location      0
number        0
activity      0
position      0
location.1    0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
df.duplicated().sum()

0

In [6]:
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

# ANS 1

### inside

In [9]:
df1=df[df['position']=='inside']

In [10]:
df1['time_hour'] = pd.to_datetime(df1['time'], format='%H:%M:%S').dt.hour

In [11]:
df1['time_minute'] = pd.to_datetime(df1['time'], format='%H:%M:%S').dt.minute

In [12]:
df1['time']

0      10:10:30
1      10:12:30
4      10:45:20
5      10:52:20
6      11:05:20
         ...
168    12:32:35
169    12:35:30
170    12:45:05
171    12:53:10
174    13:18:30
Name: time, Length: 156, dtype: object

In [13]:
df1["total_time"]=df1['time_hour']*df1['time_minute']

In [14]:
df1.groupby('date')['total_time'].mean()

date
2024-01-16     75.705128
2024-01-17    291.631579
2024-01-18    391.406780
Name: total_time, dtype: float64

In [15]:
inside_datewise_duration_in_minutes=df1.groupby('date')['total_time'].mean()

### outside

In [17]:
df2=df[df['position']=='outside']

In [18]:
df2['time_hour'] = pd.to_datetime(df2['time'], format='%H:%M:%S').dt.hour

In [19]:
df2['time_minute'] = pd.to_datetime(df2['time'], format='%H:%M:%S').dt.minute

In [20]:
df2['time']

125    14:48:20
137    16:47:00
149    18:57:00
172    12:59:10
Name: time, dtype: object

In [21]:
df2["total_time"]=df2['time_hour']*df2['time_minute']

In [22]:
df2.groupby('date')['total_time'].mean()

date
2024-01-18    789.5
Name: total_time, dtype: float64

In [23]:
outside_datewise_duration_in_minutes=df2.groupby('date')['total_time'].mean()

# ANS 2

In [25]:
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [26]:
df['activity'].value_counts()

activity
placed    87
picked    87
Name: count, dtype: int64

In [27]:
df_placed=df[df['activity']=='placed']

In [28]:
df_placed.groupby('date')['activity'].count()

date
2024-01-16    40
2024-01-17     9
2024-01-18    38
Name: activity, dtype: int64

In [29]:
placed_count=df_placed.groupby('date')['activity'].count()

In [30]:
df_picked=df[df['activity']=='picked']

In [31]:
df_picked.groupby('date')['activity'].count()

date
2024-01-16    40
2024-01-17    10
2024-01-18    37
Name: activity, dtype: int64

In [32]:
picked_count=df_picked.groupby('date')['activity'].count()

# ANS 3

In [35]:
st.title("Activity Dashboard")

# Debugging output
st.write("Loaded DataFrame:")
st.write(df.head())

st.header('Inside Datewise Duration in Minutes')
st.dataframe(inside_datewise_duration_in_minutes)

st.header('Outside Datewise Duration in Minutes')
st.dataframe(outside_datewise_duration_in_minutes)

st.header('Placed Count')
st.dataframe(placed_count)

st.header('Picked Count')
st.dataframe(picked_count)

DeltaGenerator()